*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid

# Temporary Files
*~
.*.swp
.DS_STORE
*.mdb
# per project ignores, it's cumbersome, but reduces the risk of missing something

# Gradle
.gradle
build/
dist/

# Intellij
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml

# Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch